:root{
  --lightPrimaryBg : #FBF4E9;
  --lightSecondaryBg : white;
  --bgColorBlur : pink;
  --textPrimary: black;
  --idleLink: #2B3F6C;
  --activeLinkColor: #E8770F;
  --activeLinkBg: #FBF4E9
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  background-image:url('images/ap.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
svg {
  color: var(--idleLink);
}
.active svg{
  color: var(--activeLinkColor);
}